* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(img/bg-2.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
}
h1 {
  margin: 1rem 0;
}
h2 {
  margin: 0.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
.message {
  background-color: green;
  border: 1px solid white;
  padding: 0.3rem;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}
.message.show {
  opacity: 1;
  color: orange;
}
.message p {
  color: #fff;
}
.header a {
  color: #fff;
  transition: all ease 0.3s;
}
.header a:hover {
  color: orange;
}
.btn-inc,
.btn-save {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 0.5em;
  width: 10em;
  background-color: maroon;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}
.btn-inc:hover,
.btn-save:hover {
  color: orange;
  border: 1px solid black;
}
.container {
  width: 100%;
  position: relative;
}
.badge {
  position: relative;
  text-align: center;
  width: 35%;
  border: 3px solid #fff;
  border-radius: 5px;
  margin: 3rem auto;
}
.report-overlay {
  /* background-color: white;
  color: black; */
  padding: 0 1rem 1rem 1rem;
  text-align: left;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 5px;
  margin: 1rem auto;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.report-overlay h4 {
  padding: .2rem;
}
.report-overlay.show {
  opacity: 1;
  pointer-events: all;
}
.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report-header a {
  color: white;
  transition: all ease .3s;
}
.report-header a:hover {
  color: orange;
}
.counter {
  font-size: 3rem;
}
.footer {
  margin: 1rem;
}
.footer p {
  font-size: 1.5rem;
  width: 100%;
}
.btn-save {
  background-color: green;
}
